.gridButton {
  display: flex;
  justify-content: end;
  align-items: center;
}

.css-1iyq7zh-MuiDataGrid-columnHeaders {
  background-color: rgb(168, 168, 168);
  color: #fff;
  font-size: 16px;
}

.cellAction {
  display: flex;
  align-items: center;
  gap: 5px;

  .viewButtonOperator {
    padding: 5px 5px;
    border-radius: 5px;
    color: rgb(18, 18, 165);
    background-color: rgba(0, 0, 139, 0.17);

    cursor: pointer;

    .viewIcon {
      margin-bottom: -6px;
      margin-top: 1px;
    }

    &:hover {
      background-color: rgba(0, 0, 139, 0.267);
      transition: 0.2s;
    }
  }

  .deleteButtonOperator {
    padding: 5px 5px;
    border-radius: 5px;
    color: rgb(255, 50, 50);
    background-color: rgba(255, 50, 50, 0.17);
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 50, 50, 0.267);
      transition: 0.2s;
    }
  }
}
