.dateContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.dateLeft {
  display: flex;
  width: 50%;
  gap: 5px;

  .selectSites {
    width: 70%;
  }
}

.apexcharts-menu-icon {
  display: none;
}

ToastContainer {
  font-family: 'Poppins';
}

.test {
  border: 2px solid red;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 15px;
  border-bottom: 1px solid rgb(224, 224, 224);
  margin-bottom: 20px;

  .btnMenu {
    cursor: pointer;
    background-color: #fff;
  }

  .css-1fxrh5s-MuiAvatar-root {
    background: #fff;
    font-size: 30px;
    color: #818181;
    transition: all ease-in-out 0.2s;

    &:hover {
      background: #e0e0e0;
    }
  }
}

@media screen and (max-width: 850px) {
  .dateContainer {
    flex-direction: column;
    gap: 10px;

    .dateRight {
      width: 95%;
    }
  }
}
